<a href="https://colab.research.google.com/github/dhan1212/let-s-upgrade/blob/master/Dhananjay_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Assignment 1. (Day2)

 Q1.List and it's Default Functions

In [12]:
 lst=["ankit", "Saurabh",30,60,45.89]

In [13]:
 print (lst)

['ankit', 'Saurabh', 30, 60, 45.89]

 1].append() will add item at the end

In [15]:
 lst.append(1803027)

In [16]:
 print(lst)

['ankit', 'Saurabh', 30, 60, 45.89, 1803027, 1803027]

 2].insert() To insert any item in the list

In [17]:
 lst.insert(1,500)

In [18]:
 print(lst)

['ankit', 500, 'Saurabh', 30, 60, 45.89, 1803027, 1803027]

 3].pop() removes and return last value

In [19]:
 lst.pop()

1803027

 4].del() is used to delete items in the list

In [22]:
 del lst[2]

In [23]:
 print(lst)

['ankit', 500, 60, 45.89, 1803027]

 5].len() is used to get the length of the list

In [ ]:
 len(lst)

5

 Q2. Dictonaries  and it's default functions

In [21]:
 dit={"Name":"Ankit","Age":18,"Number":123456,"Email id":"ankit123@gmail.com"}

In [ ]:
 print(dit)

{'Name': 'Ankit', 'Age': 18, 'Number': 123456, 'Email id': 'ankit123@gmail.com'}

  1].get() Returns the value of the key

In [ ]:
 dit.get("Name")

'Ankit'

In [ ]:
 dit.get("Age")

18

 2].keys() Returns a new object of the dictionary's keys

In [ ]:
 dit.keys()

dict_keys(['Name', 'Age', 'Number', 'Email id'])

 3].items() Return a new object of the dictionary's items in (key, value) format

 4].update() will updates the dictionary from the elements of the another dictionary objects

In [28]:
 dit.items()

dict_items([('Name', 'Ankit'), ('Age', 18), ('Number', 123456), ('Email id', 'ankit123@gmail.com')])

In [29]:
 dit1={"Name":"Ankit Prajapati"}

In [ ]:
 print(dit)

{'Name': 'Ankit', 'Age': 18, 'Number': 123456, 'Email id': 'ankit123@gmail.com'}

 5].clear() Removes all items from the dictionary

In [ ]:
 dit.clear()

In [ ]:
 print(dit)

{}

 Q3. Sets and it's Default Functions

In [7]:
 set={"ankit",45,65.7,(1,2,3,3,4),1,2,3,4,2,5,6}

In [8]:
 set

{(1, 2, 3, 3, 4), 1, 2, 3, 4, 45, 5, 6, 65.7, 'ankit'}

 1].add()  Adds an element to the set

In [9]:
 set.add("prajapati")

In [10]:
 print(set)

{65.7, 1, 2, 3, 4, 5, 6, 45, 'prajapati', (1, 2, 3, 3, 4), 'ankit'}

 2].issubset() returns true if another set contain this set

In [ ]:
 A={1,2,3,4,5,8,9}

In [ ]:
 B={0,1,2,3,4,6,7}

In [ ]:
 C={1,2,3,4,5,6,7,8,9,10}

In [ ]:
 print(A.issubset(B))

False

In [ ]:
 print(A.issubset(C))

True

 3].union() Returns the union of sets in a new set

In [ ]:
 A={"Ankit",1803027}

In [ ]:
 B={"Shivam",1803036}

In [ ]:
 print(A.union(B))

{'Ankit', 1803027, 1803036, 'Shivam'}

 4].difference () Returns the difference of two or more sets as a new set

In [ ]:
 J={1,3,5,7}

In [ ]:
 K={1,3,2,4,6,8}

In [ ]:
 print(J.difference(K))

{5, 7}

 5].discard() Removes an element from the set if it is a member.

In [ ]:
 set1={1,4,7,77,88,43,50}

In [ ]:
 set1.discard(88)

In [ ]:
 print(set1)

{1, 4, 7, 43, 77, 50}

 Q4.Tuple and Explore Default Functions

In [ ]:
 tup=("syam","@",3,67,2.7,3)

In [ ]:
 tup

('syam', '@', 3, 67, 2.7, 3)

 1].count() returns the number of times element appears in the tuple

In [ ]:
 tup.count(3)

2

 2].index() returns the index of the specified element in the tuple.

In [ ]:
 tup.index("@")

1

 3].len() returns the number of elements in the tupl

In [ ]:
 len(tup)

6

 4].max() returns the elements from the tuple with maximum value

In [ ]:
 tup1=(600,70,59,601,230,700)

In [ ]:
 max(tup1)

700

 5].min() returns the elements from the tuple with minimum value.

In [ ]:
 tup2=(3,3.5,6.09,6,91,6.92,0.001,0.002)

In [ ]:
 min(tup2)

0.001

  Q5.Strings and explore default functions

 1].lower() returns a copy of the string in which all case-based characters have been lowercased

In [ ]:
 str="WHAT IN A NAME...."

In [ ]:
 str.lower()

'what in a name....'

 2].title() returns a copy of the string in which firstcharacters of all the words are capitalized

In [ ]:
 str1="i live in mumbai"

In [ ]:
 str1.title()

'I Live In Mumbai'

 3].len() returns the length of the string.

In [ ]:
 str2="Honesty is the best policy"

In [ ]:
 len(str2)

26

 4].join() returns a string in which the string elements of sequence have been joined by str separator.

In [ ]:
 s="|"

In [ ]:
 S2=("2","8","1")

In [ ]:
 s.join(S2)

'2|8|1'

 5].isalnum() checks whether the string consists of alphanumeric characters.

In [ ]:
 S5="Ankit1002";

In [ ]:
 S5.isalnum()

True

 End of Assignment 1(Day2)